html{
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after{
  box-sizing: 0;
  margin: 0;
  padding: 0;
}

body{
  align-items: center;
  background: linear-gradient(180deg, rgb(216 50 50), rgb(227 83 251));
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-display: swap ;
  height: inherit;
  justify-content: center; 
}

.wrapper{
  box-shadow: 20px 20px 11px 4px rgb(0 0 255 / 10%);
  background: linear-gradient(360deg, rgb(240 102 245), rgb(122 229 230));
  border: 1px;
  border-radius: 70px;
  color: rgba(251, 106, 164, 0.833);
  backdrop-filter: rgb(240, 161, 161);
  flex-basis: 540px;
  height: 550px;
  padding: 30px  40px;
}

.screen{
  margin-right: 20px;
  margin-left: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  box-shadow: 7px 7px 6px 0px rgb(0 0 244 / 10%);
  font-size: 30px;
  overflow: auto;
  padding: 20px;
  text-align: right;
  width: 500px;
  
}

.calc-button-row{
  display: flex;
  justify-content: space-between;
  margin: 5%;

}
.calc-button{
  box-shadow: 7px 7px 6px 0px rgb(0 0 244 / 10%);
  border: 0px;
  border-radius: 15px;
  flex-basis: 20%;
  font-family: inherit;
  font-size: 40px;
  height: 65px;
  border-color: aquamarine;
  background: linear-gradient( rgb(193 229 233), rgb(248 152 255 / 76%));
}

.calc-button:hover{
  background-color: rgba(255, 0, 255, 0.597);
  color: inherit;
}

.double{
  flex-basis: 47%;
}

.triple{
  flex-basis: 73%;

}